{% extends 'base.html' %}
{% block title %} account | {{accounts.username}} {%endblock%}
{% block content %}
<div>
    {% if request.user.is_authenticated %}
        {% if request.user.username == accounts.username %}
            <a href="{% url 'user:edit profile' request.user %}" class="btn btn-info">Edit Profile</a>
            <a href="{% url 'user:posts of user' request.user %}" class="btn btn-info">Posts</a>
        {% endif %}    
    {% endif %}  
</div>      
    {% load static %}
        {% if accounts.image %}
            <img src="{{ accounts.image.url }}" width="150" height="150">
        {% else %}
            <img src="{{ MEDIA_URL }}" width="150" height="150">
        {% endif %}
	    <h1>{{accounts.username}}</h1> 
        <h2>{{accounts.bio}}</h2>  
        <h2>{{accounts.date_of_birth}}</h2> 
        <h2>Followers count: {{ followers_count }}</h2> 
        <h2>Following count: {{ following_count }}</h2> 
        <h2>Following: {{ following }}</h2>
        <h2>Followers: {{ followers }}</h2>
        {% for post in posts %}
            <h2>Post title: {{ post.title }}</h2>
            <h2>Post text: {{ post.text }}</h2>
        {% endfor %}    
{% endblock %} 