{% extends 'base.html' %}
{% block title %} Home {%endblock%}
{% block content %}
    <form method="get" action="{% url 'user:search account' %}">
        <input type="text" name="q" placeholder="Search...">
        <button type="submit">Search Accounts</button>
    </form>
    <form method="get" action="{% url 'post:search posts' %}">
        <input type="text" name="q" placeholder="Search...">
        <button type="submit">Search Posts</button>
    </form>
    <div class="card">
    {%for post in posts_detailes%}      
        {% include  'post_details.html' %}
    {% endfor %}    
    </div>  
{% endblock %}